<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FK_Bus_Ticket_App.Properties.Settings.FKBussTicketDBConnectionString"
            connectionString="Data Source=DESKTOP-49L8FJK;Initial Catalog=FKBussTicketDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>